.Auctionsending-sccren{
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.Auctionsending_Left{
    height: 100%;
    background-color: #B9A9FB;
    position: relative;

    div{
        h1{
            padding: 80px;
            width: 440px;
            font-style: normal;
            font-weight: 800;
            font-size: 80px;
            line-height: 80px;
            letter-spacing: -0.02em;
        }
        .explorer_more_btn{
            position: absolute;
            bottom: 80px;
            left: 80px;
        }
    }
}
.Auctionsending_Right{
    div{
        img{
            width: 100%;
        }
        .img_bg{
            height: 800px;
        }
        .img_sm{
            height: 400px;
        }
    }
}