.DownloadNewsletter_sccren{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    h1{
        padding: 80px 80px 80px 0;
        margin-bottom: 368px;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.02em;
    }
}