.nav-item{
    padding: 32px 0;
    .nav-link{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #202025;
        &:active{
            border: 1px solid #202025;
        }
        span{
            width: 79px;
            height: 32px; 
            background: #E1E2E2;
            border-radius: 8px;
            padding: 4px 8px;

            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #686A6C;   
        }
    }
}
.Discover_Card_Sections{
    .row{
        margin-top: 50px;
    }
    .Discover_Card_Sections_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 130px;
        margin-bottom: 64px;
        div{
            h1{
                font-style: normal;
                font-weight: 800;
                font-size: 80px;
                line-height: 80px;
                letter-spacing: -0.02em;
                color: #202025;
            }
            span{
                padding: 8px 24px;
                background-color: #202025;
                color: snow;
                border-radius: 40px;
                margin-right: 10px;
            }
            img{
                margin-left: 50px;
            }
        }
    }
    div{
        button{
            padding: 12px 32px;
            border: 2px solid #555555;
            border-radius: 4px;
            outline: none;
            background-color: transparent;
            margin-top: 100px;
            margin-bottom: 130px;

            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: #202025;
        }
    }
}