.Authentication{
    display: grid;
    grid-template-columns: 6fr 6fr;
    color: snow;
    width: 100%;
    height: 100vh;
    .Authentication-left{
        background: linear-gradient(#141e30, #243b55);
        padding: 0 24px;
        .LanguesBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
            span{
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 40px;
                text-transform: uppercase;
            }
        }
        .dropdown{
            button{
                width: 150px;
                height: 50px;
                background-color: #243b55;
                border: none;
                img{
                    width: 40px;
                }
            }
        }
    }
    .Authentication-right{
        width: 100%;
        height: 100vh;
        background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dc107c125315467.611cf24477181.jpg) center no-repeat;
        background-size: cover;

        position: relative;
        button{
            float: right;
            border: none;
            outline: none;
            margin: 10px 20px;
            padding: 8px 24px;
            border-radius: 10px;
            color: snow;
            background: linear-gradient(45deg,#141e30, #243b55, #141e30); 
        }
        p{
            font-size: 24px;
            font-weight: 900;
            text-align: center;
            color: #000;
            
            
            position: absolute;
            top: 85%;
            left: 10%;
        }
    }
}

.visible { display: block; }
.invisible { display: none; }