.Authentication{
    display: grid;
    grid-template-columns: 6fr 6fr;
    color: snow;
    .Authentication-left{
        background: linear-gradient(#141e30, #243b55);
        padding: 0 24px;
        .LanguesBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
        }
        .dropdown{
            button{
                width: 150px;
                height: 50px;
                background-color: #243b55;
                border: none;
                img{
                    width: 40px;
                }
            }
        }
    }
    .Authentication-right{
        img{
            width: 100%;
        }
    }
}