header{
    border-bottom: 1px solid #b2b8b6;
    padding-bottom: 20px;
    background-color: #fff;
}
div{
    a{
        text-decoration: none;
        color: #202025;
        &:hover{
            color: #202025;
        }
    }
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.navbar-left{
    .navbar-logo{
        display: flex;
        a{
            display: flex;
            align-items: center;
        }
        span{
            margin-left: 16px;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 40px;
            text-transform: uppercase;
            margin-right: 100px;
        }
    }
}
ul{
    display: flex;
    list-style: none;
}
.navbar-right {
    ul{
        display: flex;
        align-items: center;
        li{
            list-style: none;
            cursor: pointer;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: #202025;
            margin-right: 40px; 
            span{
                padding: 10px 20px;
                background-color: #00ffd5;
                border-radius: 10px;
            }
            a{
                text-decoration: none;
                color: #202025;
            }
            button{
                padding: 12px 32px;
                border: 2px solid #555555;
                border-radius: 4px;
                outline: none;
                background-color: #fff;
                font-style: normal;
                font-weight: 800;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.17em;
                text-transform: uppercase;
                color: #202025;
                cursor: pointer;
            } 
        }
        .burger-menu{
            cursor: pointer;
            width: 30px;
            height: 12px;
            .burger-liner{
                background: #202025;
                border-radius: 4px;
                margin-bottom: 5px;
            }
            .burger-liner:nth-child(1){
                width: 30px;
                height: 4px;
            }
            .burger-liner:nth-child(2){
                width: 30px;
                height: 4px;
            }
            .burger-liner:nth-child(3) {
                width: 30px;
                height: 4px;
            }
        }
    }
}
.offcanvas-body{
    li{
        cursor: pointer;
        list-style: none;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: #202025;
        margin-left: 20px;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            color: #202025;
        }
        button{
            padding: 12px 32px;
            border: 2px solid #555555;
            border-radius: 4px;
            outline: none;
            background-color: #fff;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: #202025;
            cursor: pointer;
        } 
    }
}