.createWork-top, .createWork-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.createWork-top{
    margin: 50px;
    .createWork-top-left{
        display: grid;
        grid-template-columns: 1fr 1fr;
        button{
            border: none;
            outline: none;
            background-color: #6DD3C2;
            border-radius: 50px;
            width: 192px;
            height: 72px;
            margin-left: 50px;
        }
    }
    .createWork-top-right{
        div{
            display: flex;
            margin-top: 76px;
        }
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: #686A6C;
        }
        p{
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: #202025;
            margin-right: 20px;
        }
    }
}
.createWork-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .creatework-bottom-left{
        width: 740px;
    }
    .creatework-bottom-right{
        background-color: #DBFF73;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .balance{
        width: 640px;
        height: 92px;
        margin: 80px auto;
        background: #F7FBFA;
        box-shadow: 0px 16px 40px -8px rgba(0, 0, 0, 0.12);
        border-radius: 12px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .balance-items{
            margin: 16px 24px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    margin-right: 12px;
                }
            }
            span{ 
                align-items: center;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.01em;
                color: #686A6C;
                display: block;
                padding-left: 16px;
            }
            b{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #202025;
            }
        }
    }
}
.creatework-bottom-right-bottom{
    width: 640px;
    height: 264px;
    margin: 0 auto;
    h1{
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -0.02em;
        color: #202025;
    }
    button{
        margin-right: 12px;
        margin-top: 40px;
    }
}