.PopularCollection_Cards{
    margin-bottom: 40px;    
    height: 100%;
    background: #F7FBFA;
    border: 1px solid #E1E2E2;
    border-radius: 32px;
    padding: 10px;
    .cards_images{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5px;
        img{
            width: 100%;
            height: 100%;
        }
        .other_images{
            .counter{
                width: 100%;
                height: 200px;
                background: #BCE6EC;
                border-radius: 20px;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #202025;
            }
            img{
                height: 200px;
                margin-bottom: 10px;
            }
        }
    }
    .cards_desk{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .cards_left_desk{
            p{
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -0.02em;
                color: #202025;
            }
            .user{
                display: flex;
                align-items: center;
                span{
                    background-color: #B9A9FB;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    padding-bottom: 2px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                b{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: -0.02em;
                    color: #202025;
                    margin-left: 12px;
                }
            }
        }
        .cards_right_desk{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #686A6C;
            }
            b{  
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -0.02em;
                color: #202025;
            }
        }
    }
}
.PopularCollections_CardsSections{
    .row{
        margin-top: 30px;
    }
}