@media (max-width: 360px) {
    .navbar-left{
        .navbar-logo{
            a{
                display: flex;
            }
            span{
                margin: 0 0 0 12px;
            }
        }
    }
    .navbar-right{
        li{
            display: none;
        }
    }
}

@media (max-width: 360px) {
    .nav-create-work{
        .createWork-top{
            .createWork-top-left{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                button{
                    width: 117.33px;
                    height: 44px;
                    margin: 20px 0 32px 0;
                    img{
                        width: 90px;
                    }
                }
                h1{
                    font-style: normal;
                    font-weight: 800;
                    font-size: 64px;
                    line-height: 64px;
                    letter-spacing: -0.02em;
                    color: #202025;
                }
            }
            .createWork-top-right{
                div{
                    display: flex;
                    align-items: center;
                    margin-top: 24px;
                    p{
                        margin-top: 20px;
                    }
                }
                span{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    color: #686A6C
                }

            }
        }
    }
}