.Connect_Wallet{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr 6fr;
    .Connect_Wallet_left{
        padding: 64px;
        background-color: #BCE6EC;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .Connect_Wallet_left_top{
            span{
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 40px;
                text-transform: uppercase;
                color: #010101;
                padding-top: 10px;
                img{
                    margin-right: 2px;
                }
            }
        }
        .Connect_Wallet_left_bottom{
            div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                h1{
                    font-style: normal;
                    font-weight: 800;
                    font-size: 80px;
                    line-height: 80px;
                    letter-spacing: -0.02em;
                    color: #010101;
                    width: 25pc;
                }
                button{
                    margin-top: 20px;
                    width: 192px;
                    height: 72px;
                    background: #F7FBFA;
                    border-radius: 48px;
                    border: none;
                    outline: none;
                    img{
                        height: 42px;
                    }
                }
            }
            p{
                width: 35pc;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #202025;
            }
        }
    }
    .Connect_Wallet_right{
        padding: 64px 64px 20px 64px;
        background-color: #010101;
        color: snow;

        position: relative;
        .close{
            width: 60px;
            height: 60px;
            border: 2px solid #202025;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: 32px;
            top: 32px;

            a{
                color: snow;
            }
        }
        h1{
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -0.02em;
            color: #F7FBFA;
        }
        .NavTabs{
            border-bottom: 1px solid #202025;
            padding-bottom: 16px;
            margin: 35px 0; 
            span{
                padding: 16px 32px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #F7FBFA;
            }
            span:nth-child(2),span:nth-child(3),span:nth-child(4){
                color: gray;
            }
        }
        .wallets{
            .wallet_items{
                border: 2px solid #202025;
                border-radius: 12px;
                padding: 20px 32px;
                margin-bottom: 10px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: -0.02em;
                    color: #E1E2E2;
                    img{
                        margin-right: 10px;
                    }

                    display: flex;
                    align-items: center;
                }
                transition: 0.5s ease;
                &:hover{
                    background-color: #BCE6EC;
                    transform: scale(1.1);
                    cursor: pointer;
                    span{
                        color: #010101;
                    }
                    img:nth-child(2){
                        width: 25px;
                    }
                }
            }
        }
        .scan_connect{
            text-align: center;
            margin: 20px 0;
            cursor: pointer;
            span{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.01em;
                color: #F7FBFA;
                img{
                    margin-right: 5px;
                }
            }
        }
        .cookies{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 24px;
            background: rgba(32, 32, 37, 0.5);
            border-radius: 12px;
            p{
                margin-top: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: #686A6C;
                b{
                    color: snow;
                }
            }
            button{
                border: none;
                outline: none;
                background-color: transparent;
                color: snow;
            }
        }
    }
}
