.large-text{
    font-style: normal;
    font-weight: 800;
    font-size: 104px;
    line-height: 104px;
    color: #202025;
    display: inline;
}
.outline-btn{
    width: 308px;
    height: 64px;
    outline: none;
    border: 2px solid #202025;
    border-radius: 4px;
    background-color: transparent;
}
.btn{
    width: 308px;
    height: 64px;
    outline: none;
    border: none;
    background: #202025;
    border-radius: 4px;
    color: snow;
}
.btn, .outline-btn {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #202025;
    color: #000;
}
.outline-btn:hover{
    background: #202025;
    color: snow;
}
.explorer_more_btn{
    border: none;
    outline: none;
    width: 254px;
    height: 64px;
    background: #F7FBFA;
    border-radius: 4px;

    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;

    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 43px;
        height: 28px;
        background: #E1E2E2;
        border-radius: 12px;
        margin-left: 10px;
    }
}
.no-page{
    height: calc(100vh - 100px);
}